<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

<title>Popular Running BackEnd</title>
<meta name="description" content="HTML 5 CSS 3 Popular Running BackEnd Form"/>
<meta name="author" content="scastros"/>

<meta name="viewport" content="width=device-width,initial-scale=1"/>

<link rel="stylesheet" href="../../css/style.css" th:href="@{/css/style.css}"/>
<link rel="stylesheet" href="../../css/jquery-ui-1.8.16.custom.css" th:href="@{/css/jquery-ui-1.8.16.custom.css}"/>

</head>

<body>
	<div id="container">
		<header> </header>

		<form action="#" th:object="${runningEvent}" th:action="@{/insert}"
			method="post">

			<h1>New Popular Running Event ...</h1>

			<fieldset id="running-event-details">

				<label for="date" th:text="#{theader.date}">Date: </label> 
				<input type="text" name="date" value="" id="date" 
					placeholder="Date" required="required" th:value="*{date}" />
				<label for="shortName" th:text="#{theader.shortName}">Short Name: </label>
				<input type="text" name="shortName" value="" id="shortName" placeholder="Main Course Name" required="required" th:value="*{shortName}" /> 
				<label for="picture" th:text="#{theader.picture}">Picture URL:</label> 
				<input type="url" name="picture" value="" th:value="*{picture}" />
				<label for="distance" th:text="#{theader.distance}">Race Distance:</label>
				<select th:field="*{distance}" class="linked_selects"> 
					<option th:each="distance : ${allDistances}" th:value="${distance.id}" th:text="${distance.description}">Distance</option>
				</select>
				<br/>
				<label for="location" th:text="#{theader.location}">Location:</label> 
				<select th:field="*{state}" class="linked_selects"> 
					<option th:each="state : ${allStates}" th:value="${state.id}" th:text="${state.description}">State</option>
				</select>
				<br/>
				<br/>
				<select name="location" id="location" class="linked_selects"> 
				</select>
				<br/>
				<label for="enrollment" th:text="#{theader.enrollment}">Enrollment URL:</label> 
				<input type="url" name="enrollment" value="" th:value="*{enrollment}" />
				<label for="map" th:text="#{theader.map}">Map URL:</label> 
				<input type="url" name="map" value="" th:value="*{map}" />
				<label for="elevation" th:text="#{theader.elevation}">Elevation URL:</label> 
				<input type="url" name="elevation" value="" th:value="*{elevation}" />
				
			</fieldset>
			<!--end running-event-details-->
			
			<fieldset id="running-event-description">

				<label for="description" th:text="#{theader.description}">Event Description: </label>
				<textarea name="description" rows="0" cols="0" th:value="*{description}" ></textarea>

				<input type="submit" value=" Create Running Event " name="submit"	class="submit" />
			</fieldset>
			<!-- end running-event-description -->
			<div id="errors" th:if="${#fields.hasErrors('*')}">
					<ul>
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
					</ul>
			</div>
		</form>

		<footer>
			
		</footer>
	</div>
	<!--! end of #container -->
	<script	type="text/javascript" charset="utf-8" src="js/libs/jquery-1.6.2.min.js"></script>
	<script	type="text/javascript" charset="utf-8" src="js/libs/jquery-ui-1.8.16.custom.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="js/libs/modernizr-2.0.6.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="js/app/RunningEventForm.js"></script>
</body>
</html>